@import "../constants";

.primary-cta {
  @include buttonFont($color: #fff);
  background: linear-gradient(180deg, #2bb656 0%, #008b46 100%);
  border-radius: $primary-border-radius;

  &:hover {
    background-color: $theme-green-450;
  }

  &:active {
    background-color: $theme-green-450;
  }

  &:disabled {
    background: $theme-gray-100;
    box-shadow: $shadow-button-container $shadow-black-opacity-50;
  }
}

.tertiary-cta {
  @include buttonFont($color: $theme-green-700, $weight: 600);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
    color: $theme-green-500;
  }
}

.tertiary-red-cta {
  @include buttonFont(400, $theme-red-550);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
    color: $theme-purple-550;
  }
}

.secondary-cta {
  @include buttonFont($color: $theme-green-700);
  border-radius: $primary-border-radius;
  border: 1px solid $theme-green-700;
  color: $theme-green-700;
  font-weight: 600;
  &:hover {
    color: $theme-green-450;
  }

  &:active {
    color: $theme-green-450;
  }

  &:disabled {
    border: 2px solid $theme-gray-150;
    background: #fff;
    box-shadow: $shadow-button-container $shadow-black-opacity-25;
  }
}
