@import "../constants";

.primary-cta {
  @include buttonFont($color: #fff);
  background: linear-gradient(180deg, #c44eb9 0%, #903795 100%);
  border-radius: $primary-border-radius;

  &:hover {
    background: linear-gradient(180deg, #c44eb9 0%, #903795 100%);
  }

  &:active {
    background: linear-gradient(180deg, #c44eb9 0%, #903795 100%);
  }

  &:disabled {
    background: $theme-gray-100;
    box-shadow: $shadow-button-container $shadow-black-opacity-50;
  }
}

.tertiary-cta {
  @include buttonFont($color: $theme-magenta-700, $weight: 600);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
    color: $theme-magenta-500;
  }
}

.tertiary-red-cta {
  @include buttonFont(400, $theme-red-550);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
    color: $theme-purple-550;
  }
}

.secondary-cta {
  @include buttonFont($color: $theme-magenta-500);
  border-radius: $primary-border-radius;
  border: 1px solid $theme-magenta-500;
  color: $theme-magenta-500;
  font-weight: 600;
  &:hover {
    color: $theme-magenta-200;
  }

  &:active {
    color: $theme-magenta-200;
  }

  &:disabled {
    border: 2px solid $theme-gray-150;
    background: #fff;
    box-shadow: $shadow-button-container $shadow-black-opacity-25;
  }
}
