@import "../../constants";

.release-card {
  padding: 10px 20px;
  border-radius: 20px;
  &.completed {
    background-color: $theme-green-20;
    h1 {
      color: $theme-gray-1000;
      font-weight: 700;
      font-family: $lato;
      font-size: 14px;
    }
    div {
      color: $theme-gray-650;
      font-weight: 400;
      font-family: $lato;
      font-size: 10px;
    }
  }
  &.upcoming {
    background-color: $theme-red-500;
    h1 {
      color: white;
      font-weight: 700;
      font-family: $lato;
      font-size: 14px;
    }
    div {
      color: $theme-red-100;
      font-weight: 400;
      font-family: $lato;
      font-size: 10px;
    }
  }
  &.failed {
    background-color: $theme-red-150;
    h1 {
      color: $theme-gray-1000;
      font-weight: 700;
      font-family: $lato;
      font-size: 14px;
    }
    div {
      color: $theme-gray-650;
      font-weight: 400;
      font-family: $lato;
      font-size: 10px;
    }
  }
}
