@import "./priority.scss";
@import "./status.scss";

.suggestions-slide-in {
  opacity: 1;
  @include animation("slideFromRight 1s ease");
}

.suggestions-slide-out {
  opacity: 1;
  @include animation("slideOutRight 1s ease");
}

@include keyframes(slideFromRight) {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  50% {
    opacity: 0.5;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@include keyframes(slideOutRight) {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  50% {
    opacity: 0.5;
    transform: translateX(10px);
  }

  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}

.search-suggestion-box {
  height: 0px;
  max-height: 0px;
  transition: max-height 0.5s ease;
}

.search-suggestion-box-expanded {
  height: auto;
  max-height: 100px;
  transition: max-height 1s ease;
}
