@import "./constants";

.top-nav {
  background: linear-gradient(154deg, #a193f2 7.06%, #c44eb9 88.02%), #fff;

  /* Shadow-md */
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.1);
  .nav-text {
    background: linear-gradient(154deg, #6775f5 7.06%, #f282f5 88.02%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.tapbar {
  background: #fff;
  box-shadow: 0px -4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 2px 15px -3px rgba(0, 0, 0, 0.1), 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
}

.side-nav {
  border-right: 1px solid var(--neutral-200, #e7e6e5);
  background: linear-gradient(177deg, #fdf2ff 0%, #fff2f9 100%);
  max-width: 224px;
  width: 100%;
}

.menuitem {
  font-family: $lato;
  font-size: 16px;
  color: $theme-gray-800;
  border-right: 5px solid transparent;
  padding: 16px;
  line-height: 24px;
  font-weight: 300;
  &:hover {
    background: rgba(48, 23, 9, 0.1);
    background: #fff;
    border-radius: 16px 0px 0px 16px;
  }

  &.active {
    font-weight: 600;
    background: #fff;
    border-radius: 16px 0px 0px 16px;
  }
}

.grad {
  background: linear-gradient(93deg, #f7f4d4 0%, rgba(247, 247, 255, 0) 40%);
  border-left: 4px solid var(--fusion-300, #ffd844);
}

@media screen and (min-width: 764px) {
  .grad {
    background: linear-gradient(93deg, #f7f4d4 0%, rgba(247, 247, 255, 0) 100%);
    border-radius: 40px 0px 0px 96px;
  }
}

.gradient-bg {
  background: radial-gradient(
      201.74% 141.42% at 100% 100%,
      #451451 0%,
      #282724 100%
    ),
    radial-gradient(119.88% 111.8% at 100% 100%, #404040 0%, #2e2e2e 100%);
}
